.navbar {
  display: flex;
  align-items: center;
}
@font-face {
  font-family: 'Fuente';
  src: url('../../Fuentes/RussoOne-Regular.ttf');
}
@font-face {
  font-family: 'F';
  src: url('../../Fuentes/BungeeInline-Regular.ttf');
}


.pnav {
  margin: 0;
  margin-right: 250px;
  margin-left: 70px;
  font-size: 40px;
  font-family: 'F';
  color:  #ffffff;
  text-shadow: 5px 8px 10px rgba(0, 0, 0, 0.778);
}



.navinput {
  margin-right: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(48, 95, 65);
  border: 2px solid  #00ff2a;
  border-radius: 5px;
  width: 150px;
  height: 25px;
 
}

.buttonnav {
  display: inline-block;
  padding: 5px 10px;
  background-color:  #40d479;
  border: none;
  border-radius: px;
  cursor: pointer;
  font-family: 'F';
 color: rgb(0, 0, 0);
}

.containernav {
  display: flex;
  align-items: center;
}

.linknavli {
  margin-right: 40px;
  font-family: 'Fuente';
  text-decoration: none;
  font-size: 20px;

}

.linknavli2 {
  margin-left: auto;
  font-family: 'Fuente';
  text-decoration: none;
  
  
}

.linknavli {
  list-style: none;
  
}

.linknavli a {
  text-decoration: none;
  display: inline;
  color: #000000;
  background-color: #40d479;
}

.linknavli2 {
  list-style: none;
}

.linknavli2 a {
  text-decoration: none;
  display: inline;
  color: #000000;
  background-color: #40d479;
}
